
#filter-img {
    width: 10%;
    height: 10%;
    margin-top: 25px;
    margin-bottom: 50px;
}

#filter-img:hover,
#filter-img:focus {
    background-color: gray
}

/* .container{
    display: flex;
    flex-direction: column;
} */
#vendor-logo{
    height: 100px;
    width: 100px;

}

#vendor-div{
  text-align:center;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #888;
}
#vendor-div h3 {
  text-decoration: underline;
}
h1 {
  padding-top: 50px;
  margin-bottom: 30px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: enable; Enable scroll if needed
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 75%; /* Could be more or less, depending on screen size */
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: center;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#quoteCard {
  border: 1px solid #888;
  margin: 15px;
  padding: 10px;
}
